@import url('https://fonts.googleapis.com/css?family=Crafty+Girls|Fredericka+the+Great|Kranky|Megrim');
.App {
  text-align: center;
}

.auto-margin{
  margin-left: auto; 
  margin-right: auto; 
}

.relative{
  position: relative; 
}

.absolute{
  position: absolute; 
}

.title{
  font-weight: 400; 
  left: 45%; 
  /* font-family: 'Fredericka the Great', cursive; */
  font-family: 'Megrim', cursive;
  /* font-family: 'Kranky', cursive; */
  /* font-family: 'Crafty Girls', cursive; */
  color: #707FD1;
  font-size: 90px; 
   
}

.timer-text{
     font-weight: bold;
     font-family: 'Megrim', cursive;
     color: #707FD1;
     font-size: 20px; 
}

.timer-width{
     min-width: 100px;
}

.button-style{
     border: 2px solid #707FD1;
     color: #707FD1;
     background-color: white;
     font-size: 14px;
     padding: 10px;
     border-radius: 12px;
     cursor: pointer;
}

.button-style:hover{
     background-color: #DDDDDD;
}

.button-style:focus{
     outline: none;
}